@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.navbar {
    background-color: #374785;
      position: sticky;
  top: 0;
  z-index: 1;

}

.navbar-brand {
    width: 11rem;
}

.drop-account {
  background-color: #F76C6C;
}