.App {
  text-align: center;  
  font-size: large;
  background-color: #24305E;
}

.innerApp {
   min-height: calc(100vh - 80px); /* set the height to the viewport height minus the height of the footer */

}