.App {
  text-align: center;  
  font-size: large;
}

button {
  background-color: #ABAEA3;
}

.innerApp {
   min-height: calc(100vh - 80px); /* set the height to the viewport height minus the height of the footer */

}